<head><style>
    #nav {
        height: 50px;
        background-color: rgba(138, 0, 0, 0.548);
        font-size: 20px;
        width: auto;
        text-align: center;
       
        
    }
</style></head>

<body>

    <div id="nav">My Stats Team Stats Champion Stats Runes</div>
    <%- body %>
        <div id="footer">FOOTER</div>
</body>